.container {
    display: flex;
    width: 100%;
    height: 100%; /* O ajusta según tus necesidades */
}

.selector{
    position: absolute;
    width: auto;
    top: 5%;
    left: 2%;
    z-index: 100;
}

highcharts-chart {
    display: block;
    width: 100%;
    height: 100%
}